/* BODY */
body{
    font-family: 'Lato', sans-serif;
    /* font-family: 'Lobster', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace; */
}

/* HEADER */

header{
    display: flex;
    /* justify-content: space-around; */
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
}

/* LOGO LOJA */
.logo__loja{
    width: 50px;
    margin: 0 15%;
}

/* CAIXA DE PESQUISA */
.combo__pesquisa{
    width: 25%;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
}

/* TOTAL DA COMPRA */

.carrinho p{
    color: green;
    font-weight: bold;
    font-size: 20px;
}

/* PIX */
.card__pagamento{
    display: flex;
    align-items: center;
}

.logo__pix{
    width: 35px;
    margin-right: 10px;
}

.carrinho{
    display: flex;
    margin-left: 50px;
    justify-content: left;
    align-items: center;
}

.pagar{
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #007ad9;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* MAIN */
main{
    width: 100%;
    background-color: white;
}

.area__principal{
    display: grid;
    grid-template-columns: 300px 1fr 250px;
    grid-template-rows: 300px 1fr;
}

.filtros_top{
    grid-column: 1/2;
    grid-row: 1/3;
    gap: 1px;
    background-color:  #eff7f6;
    
}

.top{
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
}

.garrafas{
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #eff7f6;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.meta_area{
    grid-column: 3/4;
    grid-row: 1/3;
    background-color:  #eff7f6;
    
}

/* FILTROS */


/* TOP */

.top{
    padding: 5px;
    text-align: center;
}

.top h2{
    font-size: large;
    font-weight: bold;
    padding: 5px;
    background-color: #e0e0e0;
    color: #000000;
    border-radius: 10px;
}

.top__usuario{
    display: flex;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.top__usuario img{
    width: 50px;
    border-radius: 90px;
    margin: 5px auto;
}

.usuario__info{
    width: 100%;
    margin: 5px;
    padding: 20px auto;
}

.usuario__info progress{
    width: 100%;
}

.container { 
    background-color: rgb(192, 192, 192); 
    width: 100%; 
    border-radius: 15px;
    
} 

.skill { 
    background-color: #007ad9; 
    color: white; 
    padding: 2px; 
    text-align: right; 
    font-size: 15px; 
    border-radius: 15px;
}

/* META */

.meta{
    padding: 15px;
    text-align: center;
    gap: 2px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
}

.meta h2{
    font-size: large;
    font-weight: bold;
    padding: 5px;
    background-color: #e0e0e0;
    color: #000000;
    border-radius: 10px;
    margin-bottom: 10px;
}

.fogao__imagem{
    width: 90%;
    height: 220px;
    margin: auto;
}

.fogao__imagem img{
    max-height: 180px;
}

/* CARD GARRAFA */
.card__garrafa{
    width: 180px;
    max-height: 324px;
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px #c3c3c3;
    margin: 5px;
}

.garrafa__imagem{
    width: 100%;
    height: 140px;
    margin: auto;
}

.garrafa__imagem img{
    max-height: 140px;
}

.card__garrafa h1{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    min-height: 40px;
}

.garrafas_tags{
    display: flex;
    align-content: center;
    justify-content: center;
}

.card__garrafa p{
    font-size: 12px;
}

.tinto,.merlot,.unidade, 
.cerveja, 
.cabert_sauvignon, 
.brut, 
.branco, 
.rose,
.sauvignon_blanc,
.malbec,
.pinot{
    font-weight: bold;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

.card__garrafa h2{
    font-size: 20px; 
    font-weight: bold;
    padding: 10px;
}

.garrafa_preco{
    color: rgb(200, 26, 121);
}

/* TAGS */
.tinto{
    background-color: #b13a48;
}

.cerveja{
    background-color: green;
}

.cabert_sauvignon{
    background-color: #8e37c4;
}

.brut{
    background-color: #000000;
}

.branco{
    background-color: #ae966a;
}

.sauvignon_blanc{
    background-color: #89a54c;
}

.merlot{
    background-color: #22278f;
}

.rose{
    background-color: #8b3442;
}

.malbec{
    background-color: #ec6b80;
}

.pinot{
    background-color: #aea741;
}

.unidade{
    background-color: #e0e0e0;
        color: #000000;
}

/* BOTAO ADICIONAR DO CARD */

.botao_adicionar{
    width: 98%;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007ad9;
    border-radius: 5px;
}

.botao_adicionar:hover{
    background-color:  rgba(200, 26, 122, 0.742);
    cursor: pointer;
}

.botao_adicionar:active{
    background-color: green;
    cursor: pointer;
}

/* MEDIA QUERY MOBILE */
@media only screen and (max-width: 700px){

header{
    display: inline;
    width: 100%;
}

/* LOGO LOJA */
.logo__loja{
    width: 50px;
    margin: 0 auto;
}

.combo__pesquisa{
    width: 90%;
    margin: 10px;
}

.area__principal{
    display: block;
}


/* .combo__pesquisa,  */
.carrinho{
    width: 10%;
    padding: 15px;
    text-align: center;
    margin: auto;
}

.pagar{
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
}

/* TOP */

.top{
    padding: 15px;
    text-align: left;
}

.usuario__info{
    width: 100%;
    margin: 5px;
    padding: 20px auto;
}

.garrafas{
    justify-content: center;
}

.card__garrafa{
    max-width: 140px;
    margin: 5px;
}

.garrafa__imagem img{
    max-height: 140px;
}

.card__garrafa h1{
    padding: 2px;
}

.garrafa__imagem {
    
    height: auto;
}

}