/* BODY */
body{
    font-family: 'Lato', sans-serif;
    /* font-family: 'Lobster', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace; */
}

/* HEADER */

header{
    display: flex;
    /* justify-content: space-around; */
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
}

/* LOGO LOJA */
.logo__loja{
    width: 50px;
    margin: 0 15%;
}

.nav{
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #007ad9;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


/* TABELA */

main{
    background-color: #eff7f6;
}

.vendas{
    margin: 1% 10%;
}

.linha{
    display: flex;
    margin: auto;
    height: 50px;
    padding: 2px;
}

.item{
    width: 200px;
    padding: 10px;
    border-bottom: solid 1px rgb(173, 173, 173);
}

.img{
    width: 40px;
    border-radius: 90px;
    max-height: 40px;
}

footer{
    width: 100%;
}

footer .logo__loja{
    display: none;
}


@media only screen and (max-width: 700px){

    header{
        width: 90%;

    }

    .cabecalho{
        display: none;
    }

    .linha{
        background-color: #007bd983;
        display: block;
        padding: 10px;
        height: auto;
        border: 1px solid #007ad9;
        box-shadow: 2px 2px rgb(172, 172, 172);
        border-radius: 5px;
        margin: 5px;
    }

    .item{
        width: 100%;
        padding: 5px;
        border: none;
    }

    footer .logo__loja{
        display: block;
        width: 100px;
        margin:  0 40%;
    }

}